<!-- <div>
  <table>
    <thead>
      <th>
        <tr>
          <td>Id</td>
          <td>firstName</td>
          <td>lastName</td>
          <td>role</td>
        </tr>
      </th>
    </thead>
    <tbody>
        <tr *ngFor="let user of user">
            <td>{{user.id}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.role}}</td>
        </tr>
    </tbody>
  </table>
</div> -->

<!-- <div class="container">
  <div #TABLE>
    <table
      #table
      mat-table
      [dataSource]="user"
      class="mat-elevation-z8"
    >
       Your table columns and data rows go here 
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>
  
       Name Column 
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef>firstName </th>
        <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
      </ng-container>
  
      Department Column 
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef>lastName</th>
        <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
      </ng-container>
  
     Salary Column 
      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef>Role</th>
        <td mat-cell *matCellDef="let element">{{ element.role }}</td>
      </ng-container>
  
   
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div> 
   -->

<div class="container">
  <button
    class="ml-2 mb-3"
    mat-button
    style="
      background-color: #1783aa;
      color: white;
      margin-left: 10px;
      font-family: Poppins;
      font: bold;
    "
    (click)="exportExcel()"
  >
    Export as Excel
  </button>
  <div
    #TABLE
    class="mat-elevation-z8"
    style="box-shadow: 2px 4px 10px #888888; border: none"
  >
    <table
      #table
      mat-table
      [dataSource]="dataSource"
      style="border-color: none"
    >
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef style="font-family: Poppins">
          No.
        </th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef style="font-family: Poppins">
          First Name
        </th>
        <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef style="font-family: Poppins">
          Last Name
        </th>
        <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef style="font-family: Poppins">
          role
        </th>
        <td mat-cell *matCellDef="let element">{{ element.role }}</td>
      </ng-container>

      <ng-container matColumnDef="actions" style="margin-left:20px;">
        <th mat-header-cell *matHeaderCellDef style="font-family: Poppins">
          Actions
        </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="onEdit(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="onDelete(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="displayedColumns"
        style="font-family: Poppins"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        style="font-family: Poppins"
      ></tr>
    </table>
  </div>
</div>

<!-- <div>
  <ul *ngFor="let item of Source_location">
    <li>{{ item.state }}</li>
  </ul>
</div> -->
