<div style="display: flex">
  <div
    class="custom-container text-center"
    style="
      width: 400px;
      box-shadow: 2px 4px 10px #888888;
      border: none;
      padding-top: 20px;
    "
  >
    <div class="mt-2 custom-container text-center">
      <h2>Add State</h2>
    </div>
    <div class="custom-header">
      <h5>Set State</h5>
    </div>
    <div class="custom-row">
      <form [formGroup]="form" class="custom-form" style="width: 200px">
        <select class="custom-select" formControlName="stId">
          <option value="" disabled selected>Select State</option>
          <option
            *ngFor="let s of state"
            [value]="s.id"
            class="custom-option"
            placeholer="Select State"
          >
            {{ s.state }}
          </option>
        </select>

        <mat-form-field>
          <input class="primary" matInput />
        </mat-form-field>
        <div class="custom-container text-center">
          <div class="custom-header">
            <h5>Set Hub</h5>
          </div>

          <select class="custom-select" formControlName="hubId">
            <option
              *ngFor="let s of Hub"
              [value]="s.id"
              class="custom-option"
              placeholder="Select Hub"
            >
              {{ s.hub }}
            </option>
          </select>
        </div>
        <div class="custom-container text-center">
          <div class="custom-header">
            <h6>Enter the Location You need to Add:</h6>
          </div>
          <div class="custom-container text-center">
            <div class="input-group mb-3">
              <input
                type="text"
                class="custom-select"
                placeholder="Location Name"
                aria-label="Username"
                formControlName="location"
                aria-describedby="basic-addon1"
                style="border-color: #888888"
              />
            </div>

            <button
              class="btn btn-primary"
              style="margin-left: 110px; margin-bottom: 20px"
              type="submit"
              (click)="OnSubmit()"
            >
              Submit
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
